<%- include('partials/header') -%>
    <section class="wrapper bg-light">
      <div class="container pt-10 pt-md-14 pb-14 pb-md-16 text-center">
        <div class="row gx-lg-8 gx-xl-12 gy-10 gy-xl-0 mb-14 align-items-center">
          <div class="col-lg-7 order-lg-2">
            <figure><img class="img-auto" src="assets/img/illustrations/main2.png" srcset="assets/img/illustrations/main2.png 3x" alt=""></figure>
          </div>
          <!-- /column -->
          <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start">
            <h1 class="display-1 fs-54 mb-5 mx-md-n5 mx-lg-0 mt-7">Every Move is Easy<br class="d-md-none"> Now With DeliverEz<br class="d-md-none"><span class="rotator-fade text-primary"> One Click Away</span></h1>
            <p class="lead fs-lg mb-7">DeliverEz is on a mission to disrupt the way our courier industry operates for an ordinary Pakistani to a business owner in Pakistan.</p>
            <span><a href="/method" class="btn btn-lg btn-primary rounded-pill me-2">Get Started</a></span>
          </div>
          <!-- /column -->
        </div>
      </div>
      <!-- /.container -->
      <div class="overflow-hidden">
        <div class="divider text-soft-primary mx-n2">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 100">
            <path fill="currentColor" d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z"></path>
          </svg>
        </div>
      </div>
      <!-- /.overflow-hidden -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gradient-primary">
      <div class="container pt-12 pt-lg-8 pb-14 pb-md-17">
        <div class="row text-center">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2 class="fs-16 text-uppercase text-primary mb-3">What We Do?</h2>
            <h3 class="display-3 mb-10 px-xxl-10">The service we offer is specifically designed to meet your needs.</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-11 px-xxl-5 text-center d-flex align-items-end">
          <div class="col-lg-6">
            <div class="px-md-15 px-lg-3">
              <figure class="mb-5 rounded"><img class="img-fluid img-rounde" src="assets/img/illustrations/main4.png" srcset="assets/img/illustrations/main4.png 2x" alt=""></figure>
              <h3>DeliverEz for Customers</h3>
              <p class="mb-2">No need to get in long queues and skip important tasks from your tight work schedule just to book a courier Pakistanio. Just a click from your computer screen and you can get every courier service at your doorstep with DeliverEz.</p>
              <a href="/book-a-courier" class="more hover">Learn More</a>
            </div>
            <!--/.px -->
          </div>
          <!--/column -->
          <div class="col-lg-6">
            <div class="px-md-15 px-lg-3">
              <figure class="mb-6 rounded"><img class="img-fluid" src="assets/img/illustrations/main5.png" srcset="assets/img/illustrations/main5.png 2x" alt=""></figure>
              <h3>DeliverEz for Business</h3>
              <p class="mb-2">Long cashflow delays and Zero Financial assistance for "PakistaniKarobars" have long stopped the businesses from growing. With DeliverEz, you get ZERO cashflow delays from day one & every second becomes a growth opportunity for you.</p>
              <a href="/book-a-cod" class="more hover">Learn More</a>
            </div>
            <!--/.px -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pb-14 pb-md-17">
        <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-6 order-lg-2">
            <h2 class="fs-16 text-uppercase text-primary mb-3">Ease for Every Pakistani at Home</h2>
            <div class="card shadow-lg me-lg-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">01</span></span>
                  </div>
                  <div>
                    <h4 class="mb-1">One on Screen click</h4>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg ms-lg-13 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">02</span></span>
                  </div>
                  <div>
                    <h4 class="mb-1">Add Your Shipment Details</h4>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg mx-lg-6 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">03</span></span>
                  </div>
                  <div>
                    <h4 class="mb-1">DeliverEz at Your Door-Step</h4>
                    <!-- <p class="mb-0">Cras mattis consectetur purus sit amet.</p> -->
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <div class="col-lg-6 order-lg-2">
            <h2 class="fs-16 text-uppercase text-primary mb-3">Ease for Every Pakistani Business</h2>
            <div class="card shadow-lg me-lg-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">01</span></span>
                  </div>
                  <div>
                    <h4 class="mb-1">Open Your Business Portal</h4>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg ms-lg-13 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">02</span></span>
                  </div>
                  <div>
                    <h4 class="mb-1">Add Your Shipment Details</h4>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg mx-lg-6 mt-6">
              <div class="card-body p-6">
                <div class="d-flex flex-row">
                  <div>
                    <span class="icon btn btn-circle btn-lg btn-soft-primary disabled me-4"><span class="number">03</span></span>
                  </div>
                  <div>
                    <h4 class="mb-1">DeliverEz at Your Store</h4>
                    <!-- <p class="mb-0">Cras mattis consectetur purus sit amet.</p> -->
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-gradient-reverse-primary" id="about-us">
      <div class="container pb-14 pb-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
          <div class="col-lg-7 position-relative">
            <a href="assets/media/movie3.mp4" class="btn btn-circle btn-white btn-play ripple mx-auto mb-5 position-absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;" data-glightbox=""><i class="icn-caret-right"></i></a>
            <figure class="rounded"><img style="opacity: 0.8;" src="assets/img/illustrations/OrderWithDeliverEz.png" srcset="assets/img/photos/OrderWithDeliverEz.png 2x" alt=""></figure>
          </div>
          <!-- <div class="col-lg-7">
            <figure><img class="img-auto" src="assets/img/illustrations/main6.png" srcset="assets/img/illustrations/main6.png 2x" alt=""></figure>
          </div> -->
          <!--/column -->
          <div class="col-lg-5">
            <h2 class="fs-15 text-uppercase text-primary mb-3">Why Choose DeliverEz?</h2>
            <h3 class="display-3 mb-7">We bring solutions to make life easier.</h3>
            <div class="accordion accordion-wrapper" id="accordionExample">
              <div class="card plain accordion-item">
                <div class="card-header" id="headingThree">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Spreading Ease </button>
                </div>
                <!--/.card-header -->
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="card-body">
                    <p>From a Pakistani sitting at home to a student applying to college or someone running a business booking a courier within the city and out of the city is now just a click away. Onc-click and every courier service is at your place within hours. </p>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.accordion-collapse -->
              </div>
              <!--/.accordion-item -->
            </div>
            <!--/.accordion -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
      <div class="overflow-hidden">
        <div class="divider text-light mx-n2">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 100">
            <path fill="currentColor" d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z"></path>
          </svg>
        </div>
      </div>
      <!-- /.overflow-hidden -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light overflow-hidden">
      <div class="container pt-12 pt-lg-7 pb-14 pb-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0 mb-11">
          <div class="col-lg-4 text-center text-lg-start">
            <h2 class="fs-16 text-uppercase text-primary mb-3">Ez Achieverments</h2>
            <h3 class="display-3 mb-4 pe-xxl-5">Proud to make an Ez Impact</h3>
            <p class="mb-0 pe-xxl-11">A rocket speed journey of making every Pakistani life easier.<img style="height: 30px; width: 30px;" src="https://img.icons8.com/emoji/100/000000/rocket-emji.png"/></p>
          </div>
          <!-- /column -->
          <div class="col-lg-8 mt-lg-2">
            <div class="row align-items-center counter-wrapper gy-6 text-center">
              <div class="col-md-4">
                <div class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-4"> <i class="uil uil-presentation-check"></i> </div>
                <h3 class="counter">10K+</h3>
                <p>Ez Shipments</p>
              </div>
              <!--/column -->
              <div class="col-md-4">
                <div class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-4"> <i class="uil uil-user-check"></i> </div>
                <h3 class="counter">1K+</h3>
                <p>Lives Made Easier</p>
              </div>
              <!--/column -->
              <div class="col-md-4">
                <div class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-4"> <i class="uil uil-trophy"></i> </div>
                <h3 class="counter">97%</h3>
                <p>Deliveries Success Rate</p>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="row grid-view gy-6 gy-xl-0">
          <h2 class="fs-16 text-uppercase text-primary text-center mb-5">Happy Ez Customers</h2>
          <h3 class="display-3 mb-10 px-xxl-10 text-center">Don't take our word for it. See what customers are saying about us.</h3>
          <div class="col-md-6 col-xl-3">
            
            <div class="card shadow-lg">
              <div class="card-body">
                <img class="rounded-circle w-15 mb-4" src="assets/img/avatars/3.jpeg" srcset="assets/img/avatars/3 2x" alt="">
                <h4 class="mb-1">Jazib Hassan</h4>
                <div class="meta mb-2">Founder@Eclaytus</div>
                <p class="mb-2">Partnering up with DeliverEz has been extraordinary for my homerun business. They have literally cut our cash flow delays to “ZERO” from 2 weeks, resulting in a very favourable and growing seller experience. We are now able to tap more and more customers up quickly and buy more stock every day. We are very happy with the communication and services we are receiving through DeliverEz.</p>
                <span class="ratings five mb-3"></span>
                <nav class="nav social mb-0">
                  <a href="#"><i class="uil uil-twitter"></i></a>
                  <a href="#"><i class="uil uil-facebook-f"></i></a>
                  <a href="#"><i class="uil uil-dribbble"></i></a>
                </nav>
                <!-- /.social -->
              </div>
              <!--/.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/column -->
          <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <img class="rounded-circle w-15 mb-4" src="assets/img/avatars/4.jpeg" srcset="assets/img/avatars/4.jpeg 2x" alt="">
                <h4 class="mb-1">Faraz Zafar</h4>
                <div class="meta mb-2">Owner@Quickie</div>
                <p class="mb-2">Working with the extremely helpful and responsive team at DeliverEz has really helped us overcome the hurdles to serve our client's needs all over Pakistan in amazing times and at low prices. We sat with them and explained our business requirements and they provided us with a unique commission structure adjusted to our requirements.</p>
                <span class="ratings five mb-3"></span>
                <nav class="nav social mb-0">
                  <a href="#"><i class="uil uil-twitter"></i></a>
                  <a href="#"><i class="uil uil-facebook-f"></i></a>
                  <a href="#"><i class="uil uil-dribbble"></i></a>
                </nav>
                <!-- /.social -->
              </div>
              <!--/.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/column -->
          <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <img class="rounded-circle w-15 mb-4" src="assets/img/avatars/2.jpeg" srcset="assets/img/avatars/2.jpg 2x" alt="">
                <h4 class="mb-1">Mehwish Hussain</h4>
                <div class="meta mb-2">Owner@Rangreza</div>
                <p class="mb-2">DeliverEz’s unique approach, to understanding the problems of a business and providing solutions for those problems, has been a significant difference from the past service providers we dealt with. The CreditEz feature has helped us to grow our home-based business to new heights and serve more customers. DeliverEz has literally made every delivery easier for our business.
                </p>
                <span class="ratings five mb-3"></span>
                <nav class="nav social mb-0">
                  <a href="#"><i class="uil uil-twitter"></i></a>
                  <a href="#"><i class="uil uil-facebook-f"></i></a>
                  <a href="#"><i class="uil uil-dribbble"></i></a>
                </nav>
                <!-- /.social -->
              </div>
              <!--/.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/column -->
          <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg">
              <div class="card-body">
                <img class="rounded-circle w-15 mb-4" src="assets/img/avatars/1.jpeg" srcset="assets/img/avatars/1.jpg 2x" alt="">
                <h4 class="mb-1">Nazish Munir</h4>
                <div class="meta mb-2">fragrancial</div>
                <p class="mb-2">I run a perfume business and the packages are fragile and need careful handling. DeliverEz has been doing a great job in handling and delivering them to my customers. Due to their instant COD solution, I can upgrade my inventory with every order on a regular basis as I get my investment and my profit at the moment. Their services are highly recommended.</p>
                <span class="ratings five mb-3"></span>
                <nav class="nav social mb-0">
                  <a href="#"><i class="uil uil-twitter"></i></a>
                  <a href="#"><i class="uil uil-facebook-f"></i></a>
                  <a href="#"><i class="uil uil-dribbble"></i></a>
                </nav>
                <!-- /.social -->
              </div>
              <!--/.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/column -->
        </div>
        <!-- /.row -->
       
        <!-- /.owl-carousel -->
      </div>
      <!-- /.container -->
      <div class="overflow-hidden">
        <div class="divider text-soft-primary mx-n2">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 100">
            <path fill="currentColor" d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z"></path>
          </svg>
        </div>
      </div>
      <!-- /.overflow-hidden -->
    </section>
    <!-- /section -->
    
    <!-- /section -->
    <section class="wrapper bg-light">
      <div class="container pt-6 pb-14 pb-md-16">
        <div class="row gx-lg-8 gx-xl-12 gy-10">
          <div class="col-lg-6 mb-0">
            <h2 class="fs-16 text-uppercase text-primary mb-4">FAQ</h2>
            <h3 class="display-3 mb-4">If you don't see an answer to your question, you can send us an email from our contact form.</h3>
            <a href="#" class="btn btn-primary rounded-pill">Ask Us Anything</a>
          </div>
          <!--/column -->
          <div class="col-lg-6">
            <div id="accordion-3" class="accordion-wrapper">
              <div class="card accordion-item shadow-lg">
                <div class="card-header" id="accordion-heading-3-1">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-1" aria-expanded="false" aria-controls="accordion-collapse-3-1">What is DeliverEz for Customer?</button>
                </div>
                <!-- /.card-header -->
                <div id="accordion-collapse-3-1" class="collapse" aria-labelledby="accordion-heading-3-1" data-bs-target="#accordion-3">
                  <div class="card-body">
                    <p>Any Pakistani irrespective of the fact where he is can simple open his mobile phone and can choose to book a courier for his desired location. Our representative will reach your location within hours and will provide you with every courier service you used to have at a courier company’s facility.</p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
              <div class="card accordion-item shadow-lg">
                <div class="card-header" id="accordion-heading-3-2">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-2" aria-expanded="false" aria-controls="accordion-collapse-3-2">What is DeliverEz for Business?</button>
                </div>
                <!-- /.card-header -->
                <div id="accordion-collapse-3-2" class="collapse" aria-labelledby="accordion-heading-3-2" data-bs-target="#accordion-3">
                  <div class="card-body">
                    <p>Any home-based or shop based business can join our DelivereEz For Business platform and can scale up their business by having smooth daily operations as well along with thousands of other Pakistani businesses.</p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
              <div class="card accordion-item shadow-lg">
                <div class="card-header" id="accordion-heading-3-3">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-3" aria-expanded="false" aria-controls="accordion-collapse-3-3">Can a female running an online store from her home join DeliverEz?</button>
                </div>
                <!-- /.card-header -->
                <div id="accordion-collapse-3-3" class="collapse" aria-labelledby="accordion-heading-3-3" data-bs-target="#accordion-3">
                  <div class="card-body">
                    <p>Yes, we already have hundreds of Pakistani “Wonderwomen” working with DeliverEz to make their businesses grow at a rocket speed rate.</p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
              <div class="card accordion-item shadow-lg">
                <div class="card-header" id="accordion-heading-3-4">
                  <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-collapse-3-4" aria-expanded="false" aria-controls="accordion-collapse-3-4">Does a business has its portal online?</button>
                </div>
                <!-- /.card-header -->
                <div id="accordion-collapse-3-4" class="collapse" aria-labelledby="accordion-heading-3-4" data-bs-target="#accordion-3">
                  <div class="card-body">
                    <p>Yes, once you sign up as a business and your account is approved. You will receive your login credentials where you can have access to all of the daily required tools required to run your business through our DeliverEz for Business portal.</p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.collapse -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.accordion-wrapper -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
      <div class="overflow-hidden">
        <div class="divider text-navy mx-n2">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 100">
            <path fill="currentColor" d="M1260,1.65c-60-5.07-119.82,2.47-179.83,10.13s-120,11.48-180,9.57-120-7.66-180-6.42c-60,1.63-120,11.21-180,16a1129.52,1129.52,0,0,1-180,0c-60-4.78-120-14.36-180-19.14S60,7,30,7H0v93H1440V30.89C1380.07,23.2,1319.93,6.15,1260,1.65Z"></path>
          </svg>
        </div>
      </div>
      <!-- /.overflow-hidden -->
    </section>
    <!-- /section -->
  </div>
  <%- include('partials/footer') -%>