<%- include('partials/header') -%>
    
    <section class="wrapper bg-light angled upper-end">
      <div class="container py-14 py-md-16">
        <!--/.row -->
        <div class="row">
          <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <form class="contact-form needs-validation" method="" action="" novalidate="">
              <div class="messages"></div>
              <div class="row gx-4">
                
                <div class="col-12 text-center">
                  <!-- <input type="submit" class="btn btn-primary rounded-pill btn-send mb-3" value="Login"> -->
                  <a href="/book-a-courier" type="submit" class="btn btn-primary rounded-pill btn-send mb-3" >DeliverEz for Customer</a>
                  <a href="/book-a-cod" type="submit" class="btn btn-primary rounded-pill btn-send mb-3" >DeliverEz for Business</a>
                </div>
                <!-- /column -->
                <!-- <div class="col-12 text-center">
                    <a class="nav-link" href="/login">Already have an account</a>
                </div> -->
                <!-- /column -->
              </div>
              <!-- /.row -->
            </form>
            <!-- /form -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  

  <%- include('partials/footer') -%>