<%- include('partials/header') -%>
    
    <section class="wrapper bg-light angled upper-end">
      <div class="container py-14 py-md-16">
        <!--/.row -->
        <div class="row">
          <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <form class="contact-form needs-validation" method="" action="" novalidate="">
              <div class="messages"></div>
              <div class="row gx-4">
                
                <div class="col-12 text-center">
                  <h3 class="display-3 mb-10 px-xxl-10">Thank you for placing a shipment. Your invoice number is <span style="color: #1EBEC8;"><%= orderid %></span>.</h3>
                  <a href="/book-a-cod" type="submit" class="btn btn-primary rounded-pill btn-send mb-3" >Want to book another shipment.</a>
                  <a href="/pdf" type="submit" class="btn btn-primary rounded-pill btn-send mb-3" >Download Pdf.</a>
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->
            </form>
            <!-- /form -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  
  
  <%- include('partials/footer') -%>